<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
            <title>First Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style type="text/css">
        .card{
            width: 50%;
            left:25%;
        }
        .btn{
            text-align: center;
            left: 50%;
            margin-top: 15px;
        }
        h2{
            text-align: center;
        }
        input{
            align-items: center;
        }
    </style>
</head>
<body>
<p th:text="${user}"></p>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

<h2>Index page</h2>
<div class="card">
    <a th:href="@{/login}"><button type="submit" class="btn btn-primary">login page</button> </a><br>
    <a th:href="@{/registration}">registration page</a><br>
    <!--    <a th:href="@{/foruser}">User page</a><br>-->
    <!--    <a th:href="@{/foradmin}">Admin page</a><br>-->
</div>

</body>
</html>
---------------------------------------

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>

<body>
<h2>Registration Page</h2>
<form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <label for="phone">Phone</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="Phone">

    <input type="submit" value="registration"><br>
    <a th:href="@{/login}"><button type="submit" class="btn btn-primary">login page</button> </a>
</form>
</div>
</div>
</body>
</html>
---------------------------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>

<body>
<h2>Registration Page</h2>
<form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
    <table>
        <tbody>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" th:field="*{username}" id="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td> <input type="text" th:field="*{email}" id="email" placeholder="Email"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td> <input type="text" th:field="*{password}" id="password" placeholder="Password"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone</label></td>
            <td><input type="text" th:field="*{phone}" id="phone" placeholder="Phone"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="registration"><br>
</form>
<a th:href="@{/login}"><button type="submit" class="btn btn-primary">login page</button> </a>
</div>
</div>
</body>
</html>
------------------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<p th:text="${user}"></p>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
<h1>Admin</h1>
<div th:switch="${t_customers}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${t_customers}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td><a th:href="@{user-update/{id} (id=${user.id})}">Edit (Update)</a></td>
                <td><a th:href="@{user-delete/{id} (id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a> </p>
</div>
</body>
</html>
-----------------------------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
    * {
        max-width: 600px;
        margin: 0 auto;
    }
    .div {
        margin-top: 150px;
        display: flex;
        flex-direction: column;

    }
    .container {
        display: flex;
        flex-direction: column;
    }
</style>
<body>
<div class="div">
    <h2> Login Page </h2>
    <div class="container">
        <form th:action="@{/login}" method="post">
                    username:<input class="username" type="text" name="username"/>
                    password:<input class="password" type="text" name="password">
                    <input type="submit" value="login"><br>
        </form>
    </div>
</div>
<a th:href="@{/registration}"><button type="submit"> registration page</button></a>
</body>
</html>
----------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>

<body>
<h2>Registration Page</h2>
<form action="#" th:action="@{/registration}" th:object="${registrationForm}" method="post">
    <table>
        <tbody>
        <tr>
            <td><label for="username">Username</label></td>
            <td><input type="text" th:field="*{username}" id="username" placeholder="Username" required = "required"></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td> <input type="text" th:field="*{email}" id="email" placeholder="Email" required = "required"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td> <input type="text" th:field="*{password}" id="password" placeholder="Password" required = "required"></td>
        </tr>
        <tr>
            <td><label for="phone">Phone</label></td>
            <td><input type="text" th:field="*{phone}" id="phone" placeholder="Phone" required = "required"></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="registration"><br>
</form>
<a th:href="@{/login}"><button type="submit" class="btn btn-primary">login page</button> </a>
</div>
</div>
</body>
</html>
---------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<p th:text="${user}"></p>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
<h1>Admin</h1>
<div th:switch="${t_customers}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table cellpadding="10" border="1">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th colspan="2">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${t_customers}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td><a th:href="@{user-update/{id} (id=${user.id})}">Edit (Update)</a></td>
                <td><a th:href="@{user-delete/{id} (id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a> </p>
</div>
</body>
</html>
--------------
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<style>
    * {
        max-width: 600px;
        margin: 0 auto;
    }
    .div {
        margin-top: 150px;
        display: flex;
        flex-direction: column;

    }
    .container {
        display: flex;
        flex-direction: column;
    }
</style>
<body>
<div class="div">
    <h2> Login Page </h2>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <table>
                <tbody>
                <tr>
                    <td>username:<input class="username" type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>password:<input class="password" type="password" name="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="login"></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div style = "position:relative; left:185px; top:10px;">
    <a th:href="@{/registration}"><button type="submit"> registration page</button></a>
</div>
</body>
</html>