<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<style>
    table {
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    #t01 tr:nth-child(even) {
        background-color: #eee;
    }
    #t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    #t01 th {
        background-color: black;
        color: white;
    }
    * {
        max-width: 600px;
        margin: 0 auto;
    }
    .div {
        margin-top: 150px;
        display: flex;
        flex-direction: column;

    }
    .container {
        display: flex;
        flex-direction: column;
    }
</style>
<body>
<div class="div">
<p th:text="${user}"></p>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
<h1>Admin</h1>
<div th:switch="${t_customers}" class="container">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table id="t01">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th colspan="2">Options</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${t_customers}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td><a th:href="@{user-update/{id} (id=${user.id})}">Edit (Update)</a></td>
                <td><a th:href="@{user-delete/{id} (id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/user-create">Create user</a></p>
</div>
</div>
</body>
</html>