<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>For User</title>
</head>
<body>
<p th:text="${user}"></p>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
<h2>For User Page</h2>
</body>
</html>