<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<style>
    a{
        color: rgb(49, 151, 116);
    }
    p{
        color: rgb(49, 151, 116);
    }
</style>
</head>
<body>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/login}">login page</a></li>
        <li class="breadcrumb-item"><a th:href="@{/registration}">registration page</button></a></li>
        <li class="breadcrumb-item"><p th:text="${user}"></p></li>
    </ol>
</nav>
<form th:if="${user!='anonymous'}" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
</body>
</html>
